.TTT {
    display: block;
}
.CCC {
    display: none;
}
.PPP {
    display: none;
}
@media (max-width: 950px) {
    .TTT {
        display: none;
    }
    .CCC {
        display: block;
    }
    .PPP {
        display: block;
    }
  }