.CTable {
    display: block;
}
.CCard {
    display: none;
}
.CPagination {
    display: none;
}
.CPanel {
    display: none !important;
}
.CReset {
    display: none !important;
}
.Chr {
    display: none !important;
}
@media (max-width: 950px) {
    .CTable {
        display: none;
    }
    .CCard {
        display: block;
    }
    .CPagination {
        display: block;
    }
    .CPanel {
        display: block !important;
    }
    .CReset {
        display: block !important;
    }
    .Chr {
        display: block !important;
    }
  }